.header{
  text-align: center;
  color:darkcyan
}

.search-div{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.search{
  font-size: 2rem;
  padding: 0.5rem;
 border-bottom-left-radius: 5px;
 border-top-left-radius: 5px;
 border: none;
 background-color: rgb(146, 246, 249);

}

.search:focus{
  outline: none;
  box-shadow: 1px 1px 4px black;
}

.btn-search{
  font-size: 2rem;
  height:3.3rem;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(50, 86, 88);
  border: none;
  width:3rem;
  color:white
}


.btn-search:hover{
  cursor: pointer;
  box-shadow: 1px 1px 4px black;
}

.all-btn{
  text-align: center;
  margin-top: 10px;
}
.btn{
  width:120px;
  margin-right: 20px;
  font-size: 1.2rem;
 padding-top: 5px;
 padding-bottom: 5px;
  border-radius: 20px;
}
.main-div{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.images{
  width:300px;
  height:300px;
  margin: 10px;
}
.page{
  font-size: 2rem;
  margin:5px;}
  .page-btn{
    font-size: 2rem;
    padding: 3px;
  }
.pagination-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.loader{
  position: absolute;
  top:50%;
  left:50%
}